### Importing the Liberaries

In [1]:
import pandas as pd
import numpy as np

### Importing the Dataset

In [2]:
stores_data = pd.read_csv('stores.csv')
holiday_data = pd.read_csv('holidays_events.csv')
oil_data = pd.read_csv('oil.csv')
transactions_data = pd.read_csv('transactions.csv')
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

### Data Preproccessing

#### 1. Train and Test Data

In [3]:
datasets = [train_data, test_data]
for dataset in datasets:
    dataset.date = pd.to_datetime(dataset.date)

In [4]:
train_data.isnull().sum()

id             0
date           0
store_nbr      0
family         0
sales          0
onpromotion    0
dtype: int64

#### 2. Store Data

In [5]:
stores_data.isnull().sum()

store_nbr    0
city         0
state        0
type         0
cluster      0
dtype: int64

In [6]:
merge_str_tr = pd.merge(train_data, stores_data, on='store_nbr', how='left')
merge_str_ts = pd.merge(test_data, stores_data, on='store_nbr', how='left')

In [7]:
merge_str_tr.head()

,id,date,store_nbr,family,sales,onpromotion,city,state,type,cluster
0,0,2013-01-01,1,AUTOMOTIVE,0.0,0,Quito,Pichincha,D,13
1,1,2013-01-01,1,BABY CARE,0.0,0,Quito,Pichincha,D,13
2,2,2013-01-01,1,BEAUTY,0.0,0,Quito,Pichincha,D,13
3,3,2013-01-01,1,BEVERAGES,0.0,0,Quito,Pichincha,D,13
4,4,2013-01-01,1,BOOKS,0.0,0,Quito,Pichincha,D,13

#### 3. Holiday Data

In [8]:
holiday_data = holiday_data[holiday_data.transferred == False]
holiday_data.drop(['description', 'type'], axis=1, inplace=True)
holiday_data.shape

(338, 4)

In [9]:
holiday_data.isnull().sum()

date           0
locale         0
locale_name    0
transferred    0
dtype: int64

In [10]:
holiday_data.date = pd.to_datetime(holiday_data.date)

In [11]:
holiday_data.locale.value_counts()

National    166
Local       148
Regional     24
Name: locale, dtype: int64

In [12]:
holiday_nat = holiday_data[holiday_data.locale == 'National']
holiday_reg = holiday_data[holiday_data.locale == 'Regional']
holiday_loc = holiday_data[holiday_data.locale == 'Local']

In [13]:
holiday_nat.shape

(166, 4)

In [14]:
holiday_nat = holiday_nat.drop_duplicates(subset=['date', 'transferred'])
holiday_nat.drop(['locale', 'locale_name'], axis=1, inplace=True)
holiday_nat.head()

         date  transferred
14 2012-08-10        False
20 2012-10-12        False
21 2012-11-02        False
22 2012-11-03        False
31 2012-12-21        False

In [15]:
holiday_nat.shape

(160, 2)

In [16]:
holiday_reg.rename(columns={'locale_name': 'state'},inplace=True)
holiday_reg.drop('locale', axis=1, inplace=True)
holiday_reg.head()

C:\Users\Elahe\AppData\Local\Temp\ipykernel_3316\2090762146.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  holiday_reg.rename(columns={'locale_name': 'state'},inplace=True)
C:\Users\Elahe\AppData\Local\Temp\ipykernel_3316\2090762146.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  holiday_reg.drop('locale', axis=1, inplace=True)

         date                           state  transferred
1  2012-04-01                        Cotopaxi        False
7  2012-06-25                        Imbabura        False
23 2012-11-06  Santo Domingo de los Tsachilas        False
24 2012-11-07                     Santa Elena        False
47 2013-04-01                        Cotopaxi        False

In [17]:
holiday_reg = holiday_reg.drop_duplicates(subset=['date', 'state'])
holiday_reg.shape

(24, 3)

In [18]:
holiday_loc.rename(columns={'locale_name': 'city'}, inplace=True)
holiday_loc.drop('locale', axis=1, inplace=True)
holiday_loc.head()

C:\Users\Elahe\AppData\Local\Temp\ipykernel_3316\2666483011.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  holiday_loc.rename(columns={'locale_name': 'city'}, inplace=True)
C:\Users\Elahe\AppData\Local\Temp\ipykernel_3316\2666483011.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  holiday_loc.drop('locale', axis=1, inplace=True)

        date      city  transferred
0 2012-03-02     Manta        False
2 2012-04-12    Cuenca        False
3 2012-04-14  Libertad        False
4 2012-04-21  Riobamba        False
5 2012-05-12      Puyo        False

In [19]:
holiday_loc = holiday_loc.drop_duplicates(subset=['date', 'city'])
holiday_loc.shape

(147, 3)

In [20]:
merge_nat_tr = pd.merge(merge_str_tr, holiday_nat, on='date', how='left')
merge_nat_ts = pd.merge(merge_str_ts, holiday_nat, on='date', how='left')

In [21]:
merge_nat_tr.head()

,id,date,store_nbr,family,sales,onpromotion,city,state,type,cluster,transferred
0,0,2013-01-01,1,AUTOMOTIVE,0.0,0,Quito,Pichincha,D,13,False
1,1,2013-01-01,1,BABY CARE,0.0,0,Quito,Pichincha,D,13,False
2,2,2013-01-01,1,BEAUTY,0.0,0,Quito,Pichincha,D,13,False
3,3,2013-01-01,1,BEVERAGES,0.0,0,Quito,Pichincha,D,13,False
4,4,2013-01-01,1,BOOKS,0.0,0,Quito,Pichincha,D,13,False

In [22]:
merge_nat_tr.shape

(3000888, 11)

In [23]:
merge_reg_tr = pd.merge(merge_nat_tr, holiday_reg, on=['date', 'state'], how='left')
merge_reg_ts = pd.merge(merge_nat_ts, holiday_reg, on=['date', 'state'], how='left')

In [24]:
merge_reg_tr.head()

,id,date,store_nbr,family,sales,onpromotion,city,state,type,cluster,transferred_x,transferred_y
0,0,2013-01-01,1,AUTOMOTIVE,0.0,0,Quito,Pichincha,D,13,False,NaN
1,1,2013-01-01,1,BABY CARE,0.0,0,Quito,Pichincha,D,13,False,NaN
2,2,2013-01-01,1,BEAUTY,0.0,0,Quito,Pichincha,D,13,False,NaN
3,3,2013-01-01,1,BEVERAGES,0.0,0,Quito,Pichincha,D,13,False,NaN
4,4,2013-01-01,1,BOOKS,0.0,0,Quito,Pichincha,D,13,False,NaN

In [25]:
merge_reg_tr.shape

(3000888, 12)

In [26]:
merge_loc_tr = pd.merge(merge_reg_tr, holiday_loc, on=['date', 'city'], how='left')
merge_loc_ts = pd.merge(merge_reg_ts, holiday_loc, on=['date', 'city'], how='left')

In [27]:
merge_loc_tr.head()

,id,date,store_nbr,family,sales,onpromotion,city,state,type,cluster,transferred_x,transferred_y,transferred
0,0,2013-01-01,1,AUTOMOTIVE,0.0,0,Quito,Pichincha,D,13,False,NaN,NaN
1,1,2013-01-01,1,BABY CARE,0.0,0,Quito,Pichincha,D,13,False,NaN,NaN
2,2,2013-01-01,1,BEAUTY,0.0,0,Quito,Pichincha,D,13,False,NaN,NaN
3,3,2013-01-01,1,BEVERAGES,0.0,0,Quito,Pichincha,D,13,False,NaN,NaN
4,4,2013-01-01,1,BOOKS,0.0,0,Quito,Pichincha,D,13,False,NaN,NaN

In [28]:
merge_loc_ts.shape

(28512, 12)

In [29]:
merge_locs = [merge_loc_tr, merge_loc_ts]
for merge_loc in merge_locs:
    merge_loc['transferred_x'] = merge_loc['transferred_x'].map({False: 1, np.nan: 0})
    merge_loc['transferred_y'] = merge_loc['transferred_y'].map({False: 1, np.nan: 0})
    merge_loc['transferred'] = merge_loc['transferred'].map({False: 1, np.nan: 0})

In [30]:
merge_loc_tr.head()

,id,date,store_nbr,family,sales,onpromotion,city,state,type,cluster,transferred_x,transferred_y,transferred
0,0,2013-01-01,1,AUTOMOTIVE,0.0,0,Quito,Pichincha,D,13,1,0,0
1,1,2013-01-01,1,BABY CARE,0.0,0,Quito,Pichincha,D,13,1,0,0
2,2,2013-01-01,1,BEAUTY,0.0,0,Quito,Pichincha,D,13,1,0,0
3,3,2013-01-01,1,BEVERAGES,0.0,0,Quito,Pichincha,D,13,1,0,0
4,4,2013-01-01,1,BOOKS,0.0,0,Quito,Pichincha,D,13,1,0,0

In [31]:
holiday_tr = merge_loc_tr.transferred_x + merge_loc_tr.transferred_y + merge_loc_tr.transferred
holiday_tr[holiday_tr >= 1] = 1
holiday_tr.value_counts()

0    2746128
1     254760
dtype: int64

In [32]:
holiday_ts = merge_loc_ts.transferred_x + merge_loc_ts.transferred_y + merge_loc_ts.transferred
holiday_ts[holiday_ts >= 1] = 1
holiday_ts.value_counts()

0    28446
1       66
dtype: int64

In [33]:
merge_loc_tr['holiday'] = holiday_tr
merge_loc_ts['holiday'] = holiday_ts
merge_hld_tr = merge_loc_tr.drop(['transferred_x', 'transferred_y', 'transferred'], axis=1)
merge_hld_ts = merge_loc_ts.drop(['transferred_x', 'transferred_y', 'transferred'], axis=1)

In [34]:
merge_hld_ts.head()

,id,date,store_nbr,family,onpromotion,city,state,type,cluster,holiday
0,3000888,2017-08-16,1,AUTOMOTIVE,0,Quito,Pichincha,D,13,0
1,3000889,2017-08-16,1,BABY CARE,0,Quito,Pichincha,D,13,0
2,3000890,2017-08-16,1,BEAUTY,2,Quito,Pichincha,D,13,0
3,3000891,2017-08-16,1,BEVERAGES,20,Quito,Pichincha,D,13,0
4,3000892,2017-08-16,1,BOOKS,0,Quito,Pichincha,D,13,0

In [35]:
merge_hld_tr.shape

(3000888, 11)

#### 4. Oil Price Data

In [36]:
oil_data.shape

(1218, 2)

In [37]:
oil_data.date = pd.to_datetime(oil_data.date)

In [38]:
oil_data.isnull().sum()

date           0
dcoilwtico    43
dtype: int64

In [39]:
null_indices = oil_data[oil_data.isnull().any(axis=1)].index

In [40]:
null_indices

Int64Index([   0,   14,   34,   63,  104,  132,  174,  237,  256,  261,  274,
             294,  338,  364,  393,  434,  497,  517,  522,  534,  554,  588,
             624,  653,  699,  757,  778,  783,  794,  814,  843,  889,  914,
             959, 1017, 1039, 1044, 1054, 1079, 1118, 1149, 1174, 1175],
           dtype='int64')

In [41]:
oil_price = oil_data.dcoilwtico.copy()
for ind in null_indices:
    if ind == 0:
        oil_price[ind] = oil_price[ind+1]
    else:
        oil_price[ind] = oil_price[ind-1]
len(oil_price)

1218

In [42]:
oil_data['oil_price'] = oil_price

In [43]:
oil_data.head()

        date  dcoilwtico  oil_price
0 2013-01-01         NaN      93.14
1 2013-01-02       93.14      93.14
2 2013-01-03       92.97      92.97
3 2013-01-04       93.12      93.12
4 2013-01-07       93.20      93.20

In [44]:
oil_data.drop('dcoilwtico', axis=1, inplace=True)

In [45]:
oil_data.head()

        date  oil_price
0 2013-01-01      93.14
1 2013-01-02      93.14
2 2013-01-03      92.97
3 2013-01-04      93.12
4 2013-01-07      93.20

In [46]:
oil_data.isnull().sum()

date         0
oil_price    0
dtype: int64

In [47]:
merge_oil_tr = pd.merge(merge_hld_tr, oil_data, on=['date'], how='left')
merge_oil_ts = pd.merge(merge_hld_ts, oil_data, on=['date'], how='left')

In [48]:
merge_oil_tr.head()

,id,date,store_nbr,family,sales,onpromotion,city,state,type,cluster,holiday,oil_price
0,0,2013-01-01,1,AUTOMOTIVE,0.0,0,Quito,Pichincha,D,13,1,93.14
1,1,2013-01-01,1,BABY CARE,0.0,0,Quito,Pichincha,D,13,1,93.14
2,2,2013-01-01,1,BEAUTY,0.0,0,Quito,Pichincha,D,13,1,93.14
3,3,2013-01-01,1,BEVERAGES,0.0,0,Quito,Pichincha,D,13,1,93.14
4,4,2013-01-01,1,BOOKS,0.0,0,Quito,Pichincha,D,13,1,93.14

In [49]:
merge_oil_tr.shape

(3000888, 12)

#### 5. Transactions Data

In [50]:
transactions_data.shape

(83488, 3)

In [51]:
transactions_data.isnull().sum()

date            0
store_nbr       0
transactions    0
dtype: int64

In [52]:
transactions_data.date = pd.to_datetime(transactions_data.date)

In [53]:
merge_trns_tr = pd.merge(merge_oil_tr, transactions_data, on=['date', 'store_nbr'], how='left')
merge_trns_ts = pd.merge(merge_oil_ts, transactions_data, on=['date', 'store_nbr'], how='left')

In [54]:
merge_trns_tr.head()

,id,date,store_nbr,family,sales,onpromotion,city,state,type,cluster,holiday,oil_price,transactions
0,0,2013-01-01,1,AUTOMOTIVE,0.0,0,Quito,Pichincha,D,13,1,93.14,NaN
1,1,2013-01-01,1,BABY CARE,0.0,0,Quito,Pichincha,D,13,1,93.14,NaN
2,2,2013-01-01,1,BEAUTY,0.0,0,Quito,Pichincha,D,13,1,93.14,NaN
3,3,2013-01-01,1,BEVERAGES,0.0,0,Quito,Pichincha,D,13,1,93.14,NaN
4,4,2013-01-01,1,BOOKS,0.0,0,Quito,Pichincha,D,13,1,93.14,NaN

In [55]:
merge_trns_tr.isnull().sum()

id                   0
date                 0
store_nbr            0
family               0
sales                0
onpromotion          0
city                 0
state                0
type                 0
cluster              0
holiday              0
oil_price       857142
transactions    245784
dtype: int64

In [56]:
merge_trns_tr.oil_price = merge_trns_tr.oil_price.interpolate(method='nearest')
merge_trns_ts.oil_price = merge_trns_ts.oil_price.interpolate(method='nearest')

In [57]:
merge_trns_tr.isnull().sum()

id                   0
date                 0
store_nbr            0
family               0
sales                0
onpromotion          0
city                 0
state                0
type                 0
cluster              0
holiday              0
oil_price            0
transactions    245784
dtype: int64

In [58]:
merge_trns_tr.transactions = merge_trns_tr.transactions.fillna(0)
merge_trns_ts.transactions = merge_trns_ts.transactions.fillna(0)

In [59]:
merge_trns_tr.head()

,id,date,store_nbr,family,sales,onpromotion,city,state,type,cluster,holiday,oil_price,transactions
0,0,2013-01-01,1,AUTOMOTIVE,0.0,0,Quito,Pichincha,D,13,1,93.14,0.0
1,1,2013-01-01,1,BABY CARE,0.0,0,Quito,Pichincha,D,13,1,93.14,0.0
2,2,2013-01-01,1,BEAUTY,0.0,0,Quito,Pichincha,D,13,1,93.14,0.0
3,3,2013-01-01,1,BEVERAGES,0.0,0,Quito,Pichincha,D,13,1,93.14,0.0
4,4,2013-01-01,1,BOOKS,0.0,0,Quito,Pichincha,D,13,1,93.14,0.0

In [60]:
merge_trns_ts.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28512 entries, 0 to 28511
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            28512 non-null  int64
 1   date          28512 non-null  datetime64[ns]
 2   store_nbr     28512 non-null  int64
 3   family        28512 non-null  object
 4   onpromotion   28512 non-null  int64
 5   city          28512 non-null  object
 6   state         28512 non-null  object
 7   type          28512 non-null  object
 8   cluster       28512 non-null  int64
 9   holiday       28512 non-null  int64
 10  oil_price     28512 non-null  float64
 11  transactions  28512 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(5), object(4)
memory usage: 2.8+ MB

In [61]:
family_values = merge_trns_tr.family.unique()
family_dict = dict(zip(merge_trns_tr.family.unique(), [i for i in range(len(family_values))]))
merge_trns_tr.family = merge_trns_tr.family.map(family_dict)
merge_trns_ts.family = merge_trns_ts.family.map(family_dict)

In [62]:
merge_trns_tr.head()

,id,date,store_nbr,family,sales,onpromotion,city,state,type,cluster,holiday,oil_price,transactions
0,0,2013-01-01,1,0,0.0,0,Quito,Pichincha,D,13,1,93.14,0.0
1,1,2013-01-01,1,1,0.0,0,Quito,Pichincha,D,13,1,93.14,0.0
2,2,2013-01-01,1,2,0.0,0,Quito,Pichincha,D,13,1,93.14,0.0
3,3,2013-01-01,1,3,0.0,0,Quito,Pichincha,D,13,1,93.14,0.0
4,4,2013-01-01,1,4,0.0,0,Quito,Pichincha,D,13,1,93.14,0.0

In [63]:
city_values = merge_trns_tr.city.unique()
city_dict = dict(zip(city_values, [i for i in range(len(city_values))]))
merge_trns_tr.city = merge_trns_tr.city.map(city_dict)
merge_trns_ts.city = merge_trns_ts.city.map(city_dict)

In [64]:
merge_trns_tr.head()

,id,date,store_nbr,family,sales,onpromotion,city,state,type,cluster,holiday,oil_price,transactions
0,0,2013-01-01,1,0,0.0,0,0,Pichincha,D,13,1,93.14,0.0
1,1,2013-01-01,1,1,0.0,0,0,Pichincha,D,13,1,93.14,0.0
2,2,2013-01-01,1,2,0.0,0,0,Pichincha,D,13,1,93.14,0.0
3,3,2013-01-01,1,3,0.0,0,0,Pichincha,D,13,1,93.14,0.0
4,4,2013-01-01,1,4,0.0,0,0,Pichincha,D,13,1,93.14,0.0

In [65]:
state_values = merge_trns_tr.state.unique()
state_dict = dict(zip(state_values, [i for i in range(len(state_values))]))
merge_trns_tr.state = merge_trns_tr.state.map(state_dict)
merge_trns_ts.state = merge_trns_ts.state.map(state_dict)

In [66]:
merge_trns_tr.head()

,id,date,store_nbr,family,sales,onpromotion,city,state,type,cluster,holiday,oil_price,transactions
0,0,2013-01-01,1,0,0.0,0,0,0,D,13,1,93.14,0.0
1,1,2013-01-01,1,1,0.0,0,0,0,D,13,1,93.14,0.0
2,2,2013-01-01,1,2,0.0,0,0,0,D,13,1,93.14,0.0
3,3,2013-01-01,1,3,0.0,0,0,0,D,13,1,93.14,0.0
4,4,2013-01-01,1,4,0.0,0,0,0,D,13,1,93.14,0.0

In [67]:
type_values = merge_trns_tr.type.unique()
type_dict = dict(zip(type_values, [i for i in range(len(type_values))]))
merge_trns_tr.type = merge_trns_tr.type.map(type_dict)
merge_trns_ts.type = merge_trns_ts.type.map(type_dict)

In [68]:
merge_trns_tr.head()

,id,date,store_nbr,family,sales,onpromotion,city,state,type,cluster,holiday,oil_price,transactions
0,0,2013-01-01,1,0,0.0,0,0,0,0,13,1,93.14,0.0
1,1,2013-01-01,1,1,0.0,0,0,0,0,13,1,93.14,0.0
2,2,2013-01-01,1,2,0.0,0,0,0,0,13,1,93.14,0.0
3,3,2013-01-01,1,3,0.0,0,0,0,0,13,1,93.14,0.0
4,4,2013-01-01,1,4,0.0,0,0,0,0,13,1,93.14,0.0

In [69]:
merge_trns_tr.drop('id', inplace=True, axis=1)
merge_trns_ts.drop('id', inplace=True, axis=1)

In [70]:
merge_trns_tr.head()

,date,store_nbr,family,sales,onpromotion,city,state,type,cluster,holiday,oil_price,transactions
0,2013-01-01,1,0,0.0,0,0,0,0,13,1,93.14,0.0
1,2013-01-01,1,1,0.0,0,0,0,0,13,1,93.14,0.0
2,2013-01-01,1,2,0.0,0,0,0,0,13,1,93.14,0.0
3,2013-01-01,1,3,0.0,0,0,0,0,13,1,93.14,0.0
4,2013-01-01,1,4,0.0,0,0,0,0,13,1,93.14,0.0

In [71]:
merge_trns_tr['year'] = merge_trns_tr.date.dt.year
merge_trns_tr['Month'] = merge_trns_tr.date.dt.month
merge_trns_tr['day'] = merge_trns_tr.date.dt.day
merge_trns_tr['day_of_week'] = merge_trns_tr.date.dt.dayofweek + 1
merge_trns_tr.drop('date', axis=1, inplace=True)

In [72]:
merge_trns_tr.head()

,store_nbr,family,sales,onpromotion,city,state,type,cluster,holiday,oil_price,transactions,year,Month,day,day_of_week
0,1,0,0.0,0,0,0,0,13,1,93.14,0.0,2013,1,1,2
1,1,1,0.0,0,0,0,0,13,1,93.14,0.0,2013,1,1,2
2,1,2,0.0,0,0,0,0,13,1,93.14,0.0,2013,1,1,2
3,1,3,0.0,0,0,0,0,13,1,93.14,0.0,2013,1,1,2
4,1,4,0.0,0,0,0,0,13,1,93.14,0.0,2013,1,1,2

In [73]:
merge_trns_ts['year'] = merge_trns_ts.date.dt.year
merge_trns_ts['Month'] = merge_trns_ts.date.dt.month
merge_trns_ts['day'] = merge_trns_ts.date.dt.day
merge_trns_ts['day_of_week'] = merge_trns_ts.date.dt.dayofweek + 1
merge_trns_ts.drop('date', axis=1, inplace=True)

In [74]:
merge_trns_ts.head()

,store_nbr,family,onpromotion,city,state,type,cluster,holiday,oil_price,transactions,year,Month,day,day_of_week
0,1,0,0,0,0,0,13,0,46.8,0.0,2017,8,16,3
1,1,1,0,0,0,0,13,0,46.8,0.0,2017,8,16,3
2,1,2,2,0,0,0,13,0,46.8,0.0,2017,8,16,3
3,1,3,20,0,0,0,13,0,46.8,0.0,2017,8,16,3
4,1,4,0,0,0,0,13,0,46.8,0.0,2017,8,16,3

In [75]:
merge_trns_tr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000888 entries, 0 to 3000887
Data columns (total 15 columns):
 #   Column        Dtype
---  ------        -----
 0   store_nbr     int64
 1   family        int64
 2   sales         float64
 3   onpromotion   int64
 4   city          int64
 5   state         int64
 6   type          int64
 7   cluster       int64
 8   holiday       int64
 9   oil_price     float64
 10  transactions  float64
 11  year          int64
 12  Month         int64
 13  day           int64
 14  day_of_week   int64
dtypes: float64(3), int64(12)
memory usage: 366.3 MB

In [78]:
merge_trns_tr.to_csv('train_processed.csv', index=False)
merge_trns_ts.to_csv('test_processed.csv', index=False)

In [77]:
x_train = merge_trns_tr.drop('sales', axis=1)
y_train = merge_trns_tr['sales']
x_test = merge_trns_ts

In [77]:
x_train

,store_nbr,family,onpromotion,city,state,type,cluster,holiday,oil_price,transactions,year,Month,day,day_of_week
0,1,0,0,0,0,0,13,1,93.14,0.0,2013,1,1,2
1,1,1,0,0,0,0,13,1,93.14,0.0,2013,1,1,2
2,1,2,0,0,0,0,13,1,93.14,0.0,2013,1,1,2
3,1,3,0,0,0,0,13,1,93.14,0.0,2013,1,1,2
4,1,4,0,0,0,0,13,1,93.14,0.0,2013,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3000883,9,28,0,0,0,2,6,0,47.57,2155.0,2017,8,15,2
3000884,9,29,1,0,0,2,6,0,47.57,2155.0,2017,8,15,2
3000885,9,30,148,0,0,2,6,0,47.57,2155.0,2017,8,15,2
3000886,9,31,8,0,0,2,6,0,47.57,2155.0,2017,8,15,2
3000887,9,32,0,0,0,2,6,0,47.57,2155.0,2017,8,15,2

### Training Data and Test Data

In [78]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV, KFold, RandomizedSearchCV, cross_val_score

#### 1. Linear Regression

In [151]:
LinearReg = LinearRegression()
LinearReg.fit(x_train, y_train)
predictions = LinearReg.predict(x_test)

In [152]:
predictions = [max(0, pre) for pre in predictions]

In [153]:
ID = np.arange(3000888, 3029400)
submitted_data = pd.DataFrame({'id': ID, 'sales': predictions})
submitted_data.set_index('id', inplace=True)
submitted_data.to_csv('Output.csv')

### 2. Regression Trees

In [ ]:
regression_tree = DecisionTreeRegressor(criterion = "squared_error")
regression_tree.fit(x_train, y_train)
predictions = regression_tree.predict(x_test)

In [ ]:
ID = np.arange(3000888, 3029400)
submitted_data = pd.DataFrame({'id': ID, 'sales': predictions})
submitted_data.set_index('id', inplace=True)
submitted_data.to_csv('Output.csv')

In [ ]:
param_grid = {
    'max_depth': [3, 5, 7, 10],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

regressor = DecisionTreeRegressor()
kf = KFold(n_splits=5, shuffle=True, random_state=42)
grid_search = RandomizedSearchCV(regressor, param_grid, cv=kf, scoring='neg_mean_squared_error')
grid_search.fit(x_train, y_train)

best_params = grid_search.best_params_
print(f'Best Hyperparameters: {best_params}')

best_model = grid_search.best_estimator_
predictions = best_model.predict(x_test)

Best Hyperparameters: {'min_samples_split': 5, 'min_samples_leaf': 2, 'max_depth': 10}

In [ ]:
ID = np.arange(3000888, 3029400)
submitted_data = pd.DataFrame({'id': ID, 'sales': predictions})
submitted_data.set_index('id', inplace=True)
submitted_data.to_csv('Output.csv')

In [ ]:
param_grid = {
    'criterion': ['mse', 'mae'],
    'splitter': ['best', 'random'],
    'max_depth': [2 * n for n in range(1, 5)],
    'min_samples_leaf': [1, 4],
    'min_samples_split': [2, 10]
}

regressor = DecisionTreeRegressor()
kf = KFold(n_splits=5, shuffle=True, random_state=42)
random_search = RandomizedSearchCV(regressor, param_grid, n_iter=10, cv=kf)
random_search.fit(x_train, y_train)

best_params = random_search.best_params_
print(f'Best Hyperparameters: {best_params}')

best_model = random_search.best_estimator_
predictions = best_model.predict(x_test)

c:\Users\Elahe\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:397: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(
c:\Users\Elahe\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:397: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(
c:\Users\Elahe\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:397: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(
c:\Users\Elahe\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:397: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(
c:\Users\Elahe\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:397: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(
c:\Users\Elahe\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:404: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  warnings.warn(

In [ ]:
ID = np.arange(3000888, 3029400)
submitted_data = pd.DataFrame({'id': ID, 'sales': predictions})
submitted_data.set_index('id', inplace=True)
submitted_data.to_csv('Output.csv')

#### 3. SVM

In [ ]:
from sklearn.svm import SVR
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
import numpy as np

regr = make_pipeline(StandardScaler(), SVR(C=1.0, epsilon=0.2))
regr.fit(x_train, y_train)
predictions = regr.predict(x_test)

In [ ]:
ID = np.arange(3000888, 3029400)
submitted_data = pd.DataFrame({'id': ID, 'sales': predictions})
submitted_data.set_index('id', inplace=True)
submitted_data.to_csv('Output.csv')

#### 4. Polynomial

In [157]:
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import PolynomialFeatures

poly = PolynomialFeatures(degree=3, include_bias=True)
#x_train_trans = poly.fit_transform(x_train)
#x_test_trans = poly.transform(x_test)
std_scaler = StandardScaler()
lin_reg = LinearRegression()
polynomial_regression = Pipeline([
            ("poly_features", poly),
            ("std_scaler", std_scaler),
            ("lin_reg", lin_reg),
        ])
polynomial_regression.fit(x_train, y_train)
predictions = polynomial_regression.predict(x_test)

In [156]:
ID = np.arange(3000888, 3029400)
submitted_data = pd.DataFrame({'id': ID, 'sales': predictions})
submitted_data.set_index('id', inplace=True)
submitted_data.to_csv('Output.csv')

#### Validation

In [82]:
from sklearn.model_selection import train_test_split
x_train_v, x_test_v, y_train_v, y_test_v = train_test_split(x_train, y_train, test_size=0.2, random_state=42)

In [108]:
regression_tree = DecisionTreeRegressor(criterion = "squared_error")
regression_tree.fit(x_train_v, y_train_v)
predictions = regression_tree.predict(x_test_v)

In [109]:
print('Mean Absolute Error: %.2f' % np.mean(np.absolute(predictions - y_test_v)))

Mean Absolute Error: 60.64

In [119]:
param_grid = {
    'max_depth': [3, 5, 7, 10],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

regressor = DecisionTreeRegressor()
kf = KFold(n_splits=5, shuffle=True, random_state=42)
grid_search = RandomizedSearchCV(regressor, param_grid, cv=kf, scoring='neg_mean_squared_error')
grid_search.fit(x_train_v, y_train_v)

best_params = grid_search.best_params_
print(f'Best Hyperparameters: {best_params}')

best_model = grid_search.best_estimator_
predictions = best_model.predict(x_test_v)

Best Hyperparameters: {'min_samples_split': 2, 'min_samples_leaf': 1, 'max_depth': 10}

In [120]:
print('Mean Absolute Error: %.2f' % np.mean(np.absolute(predictions - y_test_v)))

Mean Absolute Error: 109.87

In [79]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
import seaborn as sns

rf_regressor = RandomForestRegressor()
param_grid = {
    'n_estimators': [50, 100],
    'max_depth': [None, 10],
    'min_samples_split': [2, 5],
    'min_samples_leaf': [1, 2]
}
kfold = KFold(n_splits=5, shuffle=True, random_state=42)

In [80]:
random_search = RandomizedSearchCV(rf_regressor, param_grid, cv=kfold, scoring='neg_mean_squared_error')

In [83]:
random_search.fit(x_train_v, y_train_v)

In [121]:
best_rf_model = grid_search.best_estimator_
print("Best Hyperparameters:", grid_search.best_params_)

y_test_pred = best_rf_model.predict(x_test_v)

mse_test = mean_squared_error(y_test_v, y_test_pred)
print("Mean Squared Error on Test Set:", mse_test)

plt.scatter(y_test_v, y_test_pred)
plt.xlabel("True Values")
plt.ylabel("Predictions")
plt.title("True Values vs Predictions")
plt.show()

feature_importances = best_rf_model.feature_importances_
feature_names = x_train_v.columns
feature_importance_df = pd.DataFrame({'Feature': feature_names, 'Importance': feature_importances})
sorted_feature_importance = feature_importance_df.sort_values(by='Importance', ascending=False)

plt.figure(figsize=(10, 6))
sns.barplot(x='Importance', y='Feature', data=sorted_feature_importance)
plt.title('Random Forest Feature Importance')
plt.show()

KeyboardInterrupt: